@model MembeDetails
@{
    ViewData["Title"] = "Registration Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<form class="container-fluid" method="post">
    <fieldset asp-validation-for="ModelOnly">
                    
        <div class="form-group">
            <label class="form-label mt-4">Name</label>
            <input type="text" class="form-control" id="InputName" placeholder="Enter Name" asp-for="Name">
            <span asp-validation-for="Name" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-label mt-4">Age</label>
            <input type="number" class="form-control" id="InputAge" placeholder="Enter Age" asp-for="Age">
            <span asp-validation-for="Age" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-label mt-4">Date Of Birth</label>
            <input type="date" class="form-control" id="InputDateOfBirth" asp-for="Dob"/>
            <span asp-validation-for="Dob" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-label mt-4">Father's/Gardian's' Name</label>
            <input type="text" class="form-control" id="InputFatherName" asp-for="FatherName"/>
            <span asp-validation-for="FatherName" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-label mt-4">Full Address</label>
            <input type="text" class="form-control" id="InputFullAddress"asp-for="FullAddress"/>
            <span asp-validation-for="FullAddress" class="alert-danger"></span>
        </div>
       
        <div class="form-group">
            <label  class="form-label mt-4">Blood Group</label>
            <select class="form-select" id="BloodGroup" asp-for="Bloodgrp">
                <option >Select a value </option>
                <option value="A positive">A positive (A+)</option>
                <option value="A negative">A negative (A-)</option>
                <option value="B positive">B positive (B+)</option>
                <option value="B negative">B negative (B-)</option>
                <option value="AB positive">AB positive (AB+)</option>
                <option value="AB negative">AB negative (AB-)</option>
                <option value="O positive">O positive (O+)</option>
                <option value="O negative ">O negative (O-)</option>
            </select>
            <span asp-validation-for="Bloodgrp" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-label mt-4">Phone Number </label>
            <input type="text" class="form-control" id="InputPhone" asp-for="Phone"/>
            <span asp-validation-for="Phone" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" asp-for="Email"
                   data-val-required="The Email field is required."
                   data-val-email="The Email field is not a valid email address."
                   data-val="true" />
            <span asp-validation-for="Email" class="alert-danger"></span>
          </div>
        <div class="form-group">
            <label class="form-label mt-4">Emergency Phone Number </label>
            <input type="text" class="form-control" id="InputEmergencyPhone"asp-for="EmergencyNumber"/>
            <span asp-validation-for="EmergencyNumber" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-label mt-4">Relation</label>
            <input type="text" class="form-control" id="InputRelation"asp-for="Relation"/>
            <span asp-validation-for="Relation" class="alert-danger"></span>
        </div>
        <div class="form-group">
            <label class="form-label mt-4">Date Of Joining</label>
            <input type="date" class="form-control" id="InputDateOfBirth" asp-for="JoiningDate"/>
            <span asp-validation-for="JoiningDate" class="alert-danger"></span>
        </div>
        
        <div class="form-group">
            <label class="form-label mt-4">Marital Status</label>
            <select class="form-select" id="MaritalStatus" asp-for="MaritalStatus ">
                <option>Select a value </option>
                <option value="Married">Married</option>
                <option value="Single">Single</option>
                <option value="Divorced">Divorced</option>
                <option value="Separated">Separated </option>
            </select>
        </div>
            <div class="form-group">
                <label class="form-label mt-4">Gender</label>
                <select class="form-select" id="Gender" asp-for="Gender">
                    <option>Select a value </option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
        </div>
                <div class="form-group">
                    <label class="form-label mt-4">Height</label>
                    <input type="text" class="form-control" id="InputHeight" asp-for="Height"/>
                </div>

                <div class="form-group">
                    <label class="form-label mt-4">Weight</label>
                    <input type="text" class="form-control" id="InputWeight"asp-for="Weight"/>
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">Timing</label>
                    <input type="text" class="form-control" id="InputTiming"asp-for="Timing"/>
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">Qualification</label>
                    <input type="text" class="form-control" id="InputQualification"asp-for="Qualification"/>
                </div>

                <div class="form-group">
                    <label class="form-label mt-4">Job</label>
                    <input type="text" class="form-control" id="Inputjob"asp-for="Job"/>
                </div>

        <div class ="form-label mt-4">
            <button type="submit" class="btn btn-outline-primary ">Submit</button>
         </div>
       
    </fieldset>
</form>