@{
    ViewData["Title"] = "Attendance";
}
<h1>@ViewData["Title"]</h1>


<div class="form-group">
    <label class="form-label mt-4">Phone Number </label>
    <input type="text" class="form-control" id="InputPhone">
</div>

    <div class="form-group">
    <label class="form-label mt-4">Date Of Attendance</label>
    <input type="date" class="form-control" id="DateOfAttendancet" />
    </div>

    <div class="form-label mt-4">
        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
    </div>
    
