
@{
    ViewData["Title"] = "Dashboard";
}
<h1>@ViewData["Title"]</h1>
<br>
<div class="container-fluid col-6">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Total Members</div>
    <div class="card-body">
        <p class="card-text">150</p>
    </div>
</div>
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Total Revenue</div>
    <div class="card-body">
    <p class="card-text">150</p>
</div>

</div>

