@{
    ViewData["Title"] = "Fee Collection";
}
<h1>@ViewData["Title"]</h1>

<div class="form-group">
    <label class="form-label mt-4">Phone Number </label>
    <input type="text" class="form-control" id="InputPhone">
</div>
<div class="form-group">
    <label class="form-label mt-4">Fee Type</label>
    <select class="form-select" id="FeeeType">
        <option>Select a value </option>
        <option value="Monthly">Monthly</option>
        <option value="Admission">Admission</option>
        <option value="Other">Other</option>
    </select>
    <div class="form-group">
        <label class="form-label mt-4">Fee Amount </label>
        <input type="text" class="form-control" id="FeeAmount">
    </div>
    <div class="form-group">
        <label class="form-label mt-4">Date Of Payment</label>
        <input type="date" class="form-control" id="DateOfPayment" />
    </div>

    <div class="form-group">
        <label class="form-label mt-4">Person Incharge</label>
        <input type="text" class="form-control" id="Incharge">
    </div>

    <div class="form-label mt-4">
        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
    </div>
    
