@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="text-center" >
        <img src=".\welcome.jpg" class="image" width="500" height="400" style="vertical-align:middle" ">
    </div>
</div>
