@{
    ViewData["Title"] = "Home Page";
}


   
    <!-- Welcome Section -->
   

        <div class="container-fluid" style="align-content:start">
            <br></br>
            <h1 class="display-4" style="text-align:center" >Welcome to LIFE GYM</h1>
        </div>


