@model MembeDetails
@{
    ViewData["Title"] = "Member Details";
}
<h1>@ViewData["Title"]</h1>
<table class="table table-hover">
<thead>
<tr>
    <th scope="col">Member Id</th>
    <td >Member Name</td>
    <td >Phone Number</td>
    <td >Timing</td>
</tr>
</thead>
    <tbody>
        <tr>

           @* @foreach*@
            <th scope="row">1</th>
            <th scope="row">Ramnath</th>
            <th scope="row">9446536215</th>
            <th scope="row">7am</th>
        </tr>
    </tbody>

</table>