@model FeeCollection
@{
    ViewData["Title"] = "Fee Collection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<form class="container-fluid" method="post" asp-validation-summary="ModelOnly">
    <div class="form-group">
        <label class="form-label mt-4">Phone Number </label>
        <input type="text" class="form-control" id="InputPhone" asp-for="Phone"/>
        <span asp-validation-for="Phone" class="alert-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-label mt-4">Fee Type</label>
        <select class="form-select" id="FeeeType" asp-for="FeeType" />
        <option>Select a value </option>
        <option value="Monthly">Monthly</option>
        <option value="Admission">Admission</option>
        <option value="Other">Other</option>
      </select>
        <span asp-validation-for="FeeType" class="alert-danger"></span>
    </div>

    <div class="form-group">
        <label class="form-label mt-4">Fee Amount </label>
        <input type="number" class="form-control" id="FeeAmount" asp-for="FeeAmount"/>
        <span asp-validation-for="FeeAmount" class="alert-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-label mt-4">Date Of Payment</label>
        <input type="date" class="form-control" id="DateOfPayment" asp-for="DateOfPayment"/>
        <span asp-validation-for="DateOfPayment" class="alert-danger"></span>
    </div>

    <div class="form-group">
        <label class="form-label mt-4">Person Incharge</label>
        <input type="text" class="form-control" id="Incharge" asp-for="Instructors" />
    </div>

    <div class="form-label mt-4">
        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


