@model PresentLog
@{
    ViewData["Title"] = "Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}


<h1>@ViewData["Title"]</h1>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert(ViewBag.Message);
        };
    </script>
}


<form class="container-fluid" method="post" asp-validation-summary="All">

    <div class="form-group">
        <label class="form-label mt-4">Phone Number </label>
        <input type="text" class="form-control" id="InputPhone" asp-for="Phone" />
        <span asp-validation-for="Phone" class="alert-danger"></span>
    </div>

        <div class="form-group">
            <label class="form-label mt-4">Date Of Attendance</label>
            <input type="date" class="form-control" id="DateOfAttendancet" asp-for="AttendDate" />
            <span asp-validation-for="AttendDate" class="alert-danger"></span>
        </div>


        <div class="form-label mt-4">
            <button type="submit" value="submit" onclick="alert" class="btn btn-primary">Submit</button>
        </div>
 
 
</form>

