html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

div {
    word-wrap: break-word;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    height:50px;
}

th, td {
    background-color: #96D4D4;
}